{% extends "layout.html" %}

{% block title %}
    edit info
{% endblock %}

{% block main %}
    <form action="/edit_info" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="intro" placeholder="Intro/Background" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="skills" placeholder="Skills" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="projects" placeholder="Projects" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}