
{% extends "layout.html" %}

{% block title %}
    Cover Letter Viewer
{% endblock %}

{% block main %}
<form action="/letter_view" method="post">
    <div>
        <h4>Cover Letter:</h4>
        <p id="coverletter">{{ coverletter }}</p>
    </div>
    <button class="btn btn-primary" type="edit">Edit</button>
    <button class="btn" type="button" id="copyButton">Copy to Clipboard</button>
    <button class="btn btn-done" type="done">Done</button>
    <script>
        document.getElementById('copyButton').addEventListener('click', function(event) {
            event.preventDefault();
            var coverletter = document.getElementById('coverletter').innerText;
            var tempTextArea = document.createElement('textarea');
            tempTextArea.value = coverletter;
            document.body.appendChild(tempTextArea);
            tempTextArea.select();
            tempTextArea.setSelectionRange(0, 99999);
            document.execCommand('copy');
            document.body.removeChild(tempTextArea);
            alert('Cover letter copied to clipboard');
        });
    </script>
</form>
{% endblock %}
